.tabs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--spacing-xs);
  background-color: var(--color-surface);
  border-radius: var(--radius-md);

  width: fit-content;
  margin-inline: auto;
}

.indicator {
  position: absolute;
  top: var(--spacing-xs);
  left: var(--spacing-xs);
  bottom: var(--spacing-xs);

  background-color: var(--color-text);
  border-radius: var(--radius-md);

  transition: transform var(--transition-normal);
  z-index: 1;
}

.button {
  width: 150px;
  position: relative;
  z-index: 2;

  border: none;
  outline: none;
  background: transparent;

  padding:8px var(--spacing-gutter);
  border-radius: var(--radius-md);
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-wide);

  color: var(--color-text);
  cursor: pointer;

  transition: color var(--transition-fast);
}

.button:hover:not(.active) {
  color: var(--color-primary);
}

.active {
  color: var(--color-text-on-primary);
}
